<!doctype html>
<html lang="pt-br">
    <head>
        {% include 'components/head.html' %}
    </head>
    <body class="bg-gray-50 text-gray-900">
        {% include "components/navbar.html" %}

        <main class="container mx-auto px-4 py-8">
            <div id="main-content">{% block content %}{% endblock %}</div>
        </main>

        <div
            class="htmx-indicator fixed bottom-4 right-4 bg-yellow-400 p-2 rounded shadow"
            id="loader"
        >
            Carregando...
        </div>

        <script src="{{ url_for('static', path='js/updateActiveBar.js') }}"></script>

        <style>
            .htmx-indicator {
                display: none;
            }
            .htmx-request .htmx-indicator {
                display: block;
            }
            .htmx-request.htmx-indicator {
                display: block;
            }
        </style>
    </body>
</html>
