<!doctype html>
<html lang="pt-br">
    <head>
        {% include 'components/head.html' %}
    </head>
    <body>
        {% include "components/sidebar.html" %}

        <div class="content">
            <header>
                <h3>{% block title %}{% endblock %}</h3>
                {% if request.state.user %}
                <div class="user-info">
                    <span style="margin-right: 15px;">Olá, {{ request.state.user.username }}</span>
                    <span>{{ request.state.user.role }}</span>
                    <button
                        hx-get="/auth/logout"
                        class="btn-logout"
                    >
                        Sair
                    </button>
                </div>
                {% endif %}
            </header>
            
            <div id="main-content">{% block content %}{% endblock %}</div>
            <div
                class="htmx-indicator fixed bottom-4 right-4 bg-yellow-400 p-2 rounded shadow"
                id="loader"
            >
                Carregando...
            </div>
        </div>

        <style>
            .htmx-indicator {
                display: none;
            }
            .htmx-request .htmx-indicator {
                display: block;
            }
            .htmx-request.htmx-indicator {
                display: block;
            }
        </style>
    </body>
</html>
